# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.project
.classpath
.c9/
.settings/
*.launch
*.swp

# IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Maven
log/
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Environment
.env 